section {
	margin: 30px auto;
}

.container-account{
	max-width: min(70%, 900px);
	padding: 0 20px 20px;
	box-shadow: 0 -6px white, 0 6px white, -10px 0 10px -7px rgb(0, 0, 0, 0.10), 10px 0 10px -7px rgb(0, 0, 0, 0.10) !important;
}

#accountNav {
	margin: 15px 0;
	position: sticky;
	top: 0;
	background: white;
	padding: 5px 0;
}

hr {
	margin: 50px 0;
}

.compactHR {
	margin: 10px 0;
}

.superCompactHR {
	margin: 20px auto;
	width: 40%;
}

h3 {
	margin-bottom: 10px;
}

.editBtn {
	color: dark-blue;
}

.deleteBtn {
	color: red;
}

a.deleteBtn:hover {
	color: rgb(220, 0, 0) !important;
}

#toShop {
	display: block;
	width: 60%;
	margin: auto;
	font-weight: bold;
}

.spacer {
	height: 10px;
}

#ordersTable {
	vertical-align: middle;
}

ul.pagination {
	display: flex;
}

.productIMG {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.itemRef {
	font-size: 75%;
}

.reviewButton {
	margin-left: auto;
	margin-right: 0;
	--bs-btn-padding-y: .25rem; 
	--bs-btn-padding-x: .5rem; 
	--bs-btn-font-size: .75rem;
}

.messageToUser {
	display: none;
	position: sticky;
	z-index: 1030;
	float: right;
	top: 15px;
	right: 20px;
	margin: 15px 0 auto auto;
	width: min(80vw, 250px);
	color: #558B2F;
	background-color: #DCEDC8;
	border: 1px solid #AED581;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}

.errorMessage {
	color: #E53935;
	background-color: #FFCDD2;
	border: 1px solid #EF9A9A;
}