@charset "UTF-8";

.cartH {
	font-size: 13px;
	font-weight: bold;

}

.cartL {
	font-size: 20px;
	font-weight: bold;

}

.cartD {
	font-size: 11px;
	font-weight: bold;

}

.imgCart {
	width: 80%;
	height: 80%;
	object-fit: contain;
	
	
}
 .cantite{
    display: flex;  
  }
  
 .total{
  	font-size: 13px;
	font-weight: bold;
	text-align: right;
  }
  
  .img-top {
  height : 300px
  }
  .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: contain;
  }